@using HPD.Web.CustomAuthentication
@{
    Layout = "~/Areas/HPDUtility/Views/Shared/_Layout.cshtml";
}
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    var identity = ((CustomPrincipal)HttpContext.Current.User);
    if (identity.Roles == "Admin")
    {
        @Html.Partial("AdminView")
    }
    else if (identity.Roles == "User")
    {
        @Html.Partial("UserView");
    }
}
    
    

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

            $.ajax({
                url: '@Url.Action("GetErrorCountByIncharge", "Home")',
                dataType: "json",
                method: 'post',
                success: function (data) {
                    var employeeCard = $('#cardEmpLst');
                    employeeCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, emp) {
                        employeeCard.append(
                            '<div class="col-xl-3 col-md-6 mb-4" id="EmployeeDetail" data-id="' + emp.InCharge + '">' +
                            '<div class="rounded-0 card border-bottom-primary shadow h-100 py-2"  style="background-color:#eeeeee">' +
                            '<div class="card-body">' +
                            '<div class="text-center" >' +
                            '<img src="data:image/jpeg;base64,' + emp.InChargeIMG + '"  class="border border-dark shadow" width="130px" height="130px" alt="">' +
                            '</div>' +
                            '<hr class="sidebar-divider">' +
                            '<div class="mr-5"><h6 class="text-primary">' + emp.InCharge + '</h6></div>' +
                            '</div>' +
                            '</div>' +
                            '</div > '
                        );
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });

            $(document).on('click', '#EmployeeDetail', function () {
                var incharge = $(this).attr("data-id");
                $.post("@Url.Action("GetErrorCountByInchargeProgram", "Home")", { InCharge: incharge }, function (data) {
                    var projectCard = $('#programDetails');
                    projectCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, proj) {
                        projectCard.append(
                            '<div class="col-xl-6 col-md-6 mb-4" id="ProjectDetails" data-id="' + proj.ProgramName + '">' +
                            '<div class="card border-left-primary shadow h-100">' +
                            '<div class="card-header">' +
                            '<h6 class="m-0 font-weight-bold text-primary">' + proj.ProgramName + '</h6>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<div class="row no-gutters align-items-center">' +
                            '<div class="col mr-2">' +
                            '<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Bugs</div>' +
                            '<div class="h5 mb-0 font-weight-bold text-gray-800">' + proj.IssueCount + '</div>' +
                            '</div>' +
                            '<div class="col-auto">' +
                            '<i class="fas fa-bug fa-2x text-gray-300"></i>' +
                            '</div>' +
                            '</div>' +
                            //'<div class="row no-gutters align-items-center">' +
                            //'<div class="col mr-2">' +
                            //'<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Task</div>' +
                            //'<div class="h5 mb-0 font-weight-bold text-gray-800">10</div>' +
                            //'</div>' +
                            //'<div class="col-auto">' +
                            //'<i class="fas fa-tasks fa-2x text-gray-300"></i>' +
                            //'</div>' +
                            //'</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                    });
                }, "json");
                $('#programListModal').modal('toggle');
            });

            $(document).on('click', '#ProjectDetails', function () {
                var id = $(this).attr("data-id");
                location.href = '@Url.Action("Details", "Project")?ProgramName='+id+'';
            });





            //USER ROLE JS


            var id = $("#userIdentity").attr("data-id");
            var adata = {
                InCharge: id
            }
            console.log()
            $.ajax({
                url: '@Url.Action("GetErrorCountByInchargeProgram", "Home")',
                dataType: "json",
                method: 'post',
                data: {
                    InCharge: id
                },
                success: function (data) {
                    var projectCard = $('#userProject');
                    projectCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, proj) {
                        projectCard.append(
                            '<div class="col-xl-3 col-md-3 mb-3" id="ProjectDetails" data-id="' + proj.ProgramName + '">' +
                            '<div class="card border-left-primary shadow h-100">' +
                            '<div class="card-header">' +
                            '<h6 class="m-0 font-weight-bold text-primary">' + proj.ProgramName + '</h6>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<div class="row no-gutters align-items-center">' +
                            '<div class="col mr-2">' +
                            '<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Bugs</div>' +
                            '<div class="h5 mb-0 font-weight-bold text-gray-800">' + proj.IssueCount + '</div>' +
                            '</div>' +
                            '<div class="col-auto">' +
                            '<i class="fas fa-bug fa-2x text-gray-300"></i>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });


        });


    </script>
}


