@using HPD.Web.CustomAuthentication
@{
    Layout = "~/Areas/HPDUtility/Views/Shared/_Layout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
    
    <div class="row">
        <div class="col-lg-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Blueprint Calendar</h6>
                </div>
                <div class="card-body">
                    <div class="row" id="bluePrintCalendar">
                        <div class="box box-primary">
                            <div class="box-body no-padding">
                                <!-- THE CALENDAR -->
                                <div id="calendar"></div>
                            </div><!-- /.box-body -->
                        </div><!-- /. box -->
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    var identity = ((CustomPrincipal)HttpContext.Current.User);
    if (identity.Roles == "Admin")
    {
        @Html.Partial("AdminView")
    }
    else if (identity.Roles == "User")
    {
        @Html.Partial("UserView");
    }
}



    

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

            $.ajax({
                url: '@Url.Action("GetErrorCountByIncharge", "Home")',
                dataType: "json",
                method: 'post',
                success: function (data) {
                    var employeeCard = $('#cardEmpLst');
                    employeeCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, emp) {
                        employeeCard.append(
                            '<div class="col-xl-3 col-md-6 mb-4" id="EmployeeDetail" data-id="' + emp.InCharge + '">' +
                            '<div class="rounded-0 card border-bottom-primary shadow h-100 py-2"  style="background-color:#eeeeee">' +
                            '<div class="card-body">' +
                            '<div class="text-center" >' +
                            '<img src="data:image/jpeg;base64,' + emp.InChargeIMG + '"  class="border border-dark shadow" width="130px" height="130px" alt="">' +
                            '</div>' +
                            '<hr class="sidebar-divider">' +
                            '<div class="mr-5"><h6 class="text-primary">' + emp.InCharge + '</h6></div>' +
                            '</div>' +
                            '</div>' +
                            '</div > '
                        );
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });

            $(document).on('click', '#EmployeeDetail', function () {
                var incharge = $(this).attr("data-id");
                $.post("@Url.Action("GetErrorCountByInchargeProgram", "Home")", { InCharge: incharge }, function (data) {
                    var projectCard = $('#programDetails');
                    projectCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, proj) {
                        projectCard.append(
                            '<div class="col-xl-6 col-md-6 mb-4" id="ProjectDetails" data-id="' + proj.ProgramName + '">' +
                            '<div class="card border-left-primary shadow h-100">' +
                            '<div class="card-header">' +
                            '<h6 class="m-0 font-weight-bold text-primary">' + proj.ProgramName + '</h6>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<div class="row no-gutters align-items-center">' +
                            '<div class="col mr-2">' +
                            '<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Bugs</div>' +
                            '<div class="h5 mb-0 font-weight-bold text-gray-800">' + proj.IssueCount + '</div>' +
                            '</div>' +
                            '<div class="col-auto">' +
                            '<i class="fas fa-bug fa-2x text-gray-300"></i>' +
                            '</div>' +
                            '</div>' +
                            //'<div class="row no-gutters align-items-center">' +
                            //'<div class="col mr-2">' +
                            //'<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Task</div>' +
                            //'<div class="h5 mb-0 font-weight-bold text-gray-800">10</div>' +
                            //'</div>' +
                            //'<div class="col-auto">' +
                            //'<i class="fas fa-tasks fa-2x text-gray-300"></i>' +
                            //'</div>' +
                            //'</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                    });
                }, "json");
                $('#programListModal').modal('toggle');
            });

            $(document).on('click', '#ProjectDetails', function () {
                var id = $(this).attr("data-id");
                location.href = '@Url.Action("Details", "Project")?ProgramName='+id+'';
            });


            //USER ROLE JS
            var loaddevprojects = function () {
                var incharge = $("#userIdentity").attr("data-id");
            $.post("@Url.Action("GetErrorCountByInchargeProgram", "Home")", { InCharge: incharge }, function (data) {
                var projectCard = $('#userProject');
                    projectCard.empty();
                    data = JSON.parse(data);
                    $(data).each(function (index, proj) {
                        projectCard.append(
                            '<div class="col-xl-3 col-md-3 mb-3" id="ProjectDetails" data-id="' + proj.ProgramName + '">' +
                            '<div class="card border-left-primary shadow h-100">' +
                            '<div class="card-header">' +
                            '<h6 class="m-0 font-weight-bold text-primary">' + proj.ProgramName + '</h6>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<div class="row no-gutters align-items-center">' +
                            '<div class="col mr-2">' +
                            '<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Bugs</div>' +
                            '<div class="h5 mb-0 font-weight-bold text-gray-800">' + proj.IssueCount + '</div>' +
                            '</div>' +
                            '<div class="col-auto">' +
                            '<i class="fas fa-bug fa-2x text-gray-300"></i>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                    });
                }, "json");
            };
            loaddevprojects();


            //FULL CALENDAR
            var loadbpdevbpcalendar = function () {
                $('#calendar').fullCalendar({
                    themeSystem: 'bootstrap4',
                    header:
                    {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        today: 'today',
                        month: 'month',
                        week: 'week',
                        day: 'day'
                    },
                    rendering: 'background',
                    height: 500,
                    events: function (start, end, timezone, callback) {
                        $.ajax({
                            url: '@Url.Action("GetSprintListByDev", "Project")',
                            type: "GET",
                            dataType: "JSON",
                            //data: {
                            //    empCode: dev
                            //},
                            success: function (result) {
                                var events = [];
                                result = JSON.parse(result);
                                $.each(result, function (i, data) {
                                    //Random Event Color
                                    var letters = '012345'.split('');
                                    var rancolor = '#';
                                    rancolor += letters[Math.round(Math.random() * 5)];
                                    letters = '0123456789ABCDEF'.split('');
                                    for (var i = 0; i < 5; i++) {
                                        rancolor += letters[Math.round(Math.random() * 15)];
                                    }

                                    events.push(
                                        {
                                            id: data.Id,
                                            title: data.Title,
                                            description: data.ProgramName,
                                            start: moment(data.EndDate).format('YYYY-MM-DD'),
                                            end: moment(data.EndDate).format('YYYY-MM-DD'),
                                            color: rancolor
                                        });
                                });

                                callback(events);
                            }
                        });
                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        location.href = '@Url.Action("Sprint", "Project")?Id=' + calEvent.id + '';
                        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                        //alert('View: ' + view.name);
                        //// change the border color just for fun
                        //$(this).css('border-color', 'red');
                    },
                    eventRender: function (event, element) {
                        element.qtip(
                            {
                                content: event.description,
                            });
                        if (event.color) {
                            element.css('background-color', event.color)
                        }
                    },

                });
            };
            loadbpdevbpcalendar();

            //Add Other Sprint for Other Task for Admin Use Only
            $('.multipleSelect').fastselect();
            $("#addOtherNewSprint").click(function () {
                $('#addNewOtherSprintModal').modal('toggle');
                $.post("@Url.Action("GetDeveloper", "Project")", function (data) {
                var devList = $('#msANSMember');
                devList.empty();
                data = JSON.parse(data);
                $(data).each(function (index, dev) {
                    devList.append(
                        '<option value="' + dev.EmpCode + '">' + dev.EmpName + '</option>'
                    );
                });
                });
            });

            $("#btnANSSave").on("click", function () {
                $(this).attr("disabled", true);
                //var programname = $("#txtANSProgramName").val();
                var title = $("#txtANSTitle").val();
                var member = $("#msANSMember").val();
                var sdate = $("#txtANSSDate").val();
                var edate = $("#txtANSEDate").val();
                //var bp = $("#txtANSBP").val();
                if (title == "" || member == "") {
                    $(this).removeAttr("disabled");
                    alert("Invalid Information");
                }
                else
                {
                    $('#addNewOtherSprintModal').modal('toggle');
                    $.post("@Url.Action("CreateOtherProjectSprint", "Home")", {Title: title, Member: member.toString(), StartDate: sdate, EndDate: edate}, function (data) {
                        if (data) {

                            $('#addNewSprintModal').modal('toggle');
                            $(this).removeAttr("disabled");
                            GetProjectSprintList();
                        }
                    });

                }

            });

        });


    </script>
}


