
@{
    Layout = "~/Areas/HPDUtility/Views/Shared/_Layout.cshtml";
}

<style>
    .placeholder {
        background-color: transparent;
        border: 1px dotted #666;
        height: 100px;
        margin-bottom: 5px;
    }
    .sortable-list {
        list-style: none;
    }
    .dragbleList 
    {
        min-height: 150px
    }

</style>

    <!-- Begin Page Content -->
    <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Project Details</h1>

                <div class="row">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Boards</h6>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">

                                    <li class="nav-item">
                                        <a class="active nav-link text-success" id="sprint-tab" data-toggle="tab" href="#sprinttab" role="tab" aria-controls="sprinttab" aria-selected="false">Tasks</a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a class="nav-link text-warning" id="bugs-tab" data-toggle="tab" href="#bugtab" role="tab" aria-controls="bugtab" aria-selected="true">Bugs</a>
                                    </li>*@

                                </ul>
                                <div class="tab-content" id="myTabContent">

                                    <div class="show active tab-pane fade py-1" id="sprinttab" role="tabpanel" aria-labelledby="sprint-tab">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4 py-1">
                                            <h1 class="h3 mb-0 text-white">Tasks</h1>
                                            <a href="#" class="d-sm-inline-block btn btn-success btn-circle shadow-sm" id="addNewSprintTask"><i class="fas fa-plus fa-sm"></i></a>
                                        </div>
                                        <div class="row py-1" id="sprintTaskTileContainer">

                                            @*Sortable Div*@
                                            <div class="col-md-3 col-sm-3" id="dragdrop">
                                                <div class="card shadow mb-4">
                                                    <!-- Card Header - Dropdown -->
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-gray-900 text-uppercase">Backlog</h6>

                                                    </div><div class="card-body">
                                                        <div class="row dragbleList" id="card">
                                                            <ul id="taskBacSortable" class="sortable-list ui-sortable" style="list-style:none;">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3" id="dragdrop">
                                                <div class="card shadow mb-4">
                                                    <!-- Card Header - Dropdown -->
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-gray-900 text-uppercase">Development</h6>
                                                    </div><div class="card-body">
                                                        <div class="row dragbleList" id="card">
                                                            <ul id="taskDevSortable" class="sortable-list ui-sortable" style="list-style:none;">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3" id="dragdrop">
                                                <div class="card shadow mb-4">
                                                    <!-- Card Header - Dropdown -->
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-gray-900 text-uppercase">Testing</h6>
                                                    </div><div class="card-body">
                                                        <div class="row dragbleList" id="card">
                                                            <ul id="taskTesSortable" class="sortable-list ui-sortable" style="list-style:none;">
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3" id="dragdrop">
                                                <div class="card shadow mb-4">
                                                    <!-- Card Header - Dropdown -->
                                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                        <h6 class="m-0 font-weight-bold text-gray-900 text-uppercase">Deployed</h6>
                                                    </div><div class="card-body">
                                                        <div class="row dragbleList" id="card">
                                                            <ul id="taskDepSortable" class="sortable-list ui-sortable" style="list-style:none;">
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    @*<div class="tab-pane fade py-1" id="bugtab" role="tabpanel" aria-labelledby="bugs-tab">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4 py-1">
                                            <h1 class="h3 mb-0 text-gray-800">Bug Reports</h1>
                                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i>Add New Task</a>
                                        </div>
                                        <div class="row">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                        <div class="col-sm-12">
                                                            <table id="bugTable" class="table table-striped table-bordered" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Error Code</th>
                                                                        <th>Error Message</th>
                                                                        <th>Doc Date</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="bugTableBody"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- /.container-fluid -->
            </div>
    <!-- End of Main Content -->
            
    <!-- Add New Task Modal-->
    <div class="modal fade" id="addNewSprintTaskModal" tabindex="-1" role="dialog" aria-labelledby="antModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="antModalLabel">Add New Task</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="addNewSprintForm">
                            <form class="user" id="formANST">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="txtANSTTitle"><b>Title</b></label>
                                        <input type="text" class="form-control input-sm" id="txtANSTTitle" required placeholder="Title" name="ANSTitle" style="border-radius: 0 !important;">
                                    </div>
                                    <div class="col-lg-3">
                                    <label for="msANSTType"><b>Type</b></label>
                                    <select class="form-control input-sm" id="msANSTType" required placeholder="Type" name="Type" style="border-radius: 0 !important;">
                                        <option value="0">Task</option>
                                        <option value="1">Bug</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="msANSTStat"><b>Status</b></label>
                                        <select class="form-control input-sm" id="msANSTStat" required placeholder="Activity" name="Activity" style="border-radius: 0 !important;">
                                            <option value="0">New</option>
                                            <option value="1">Active</option>
                                            <option value="2">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="msANSTAss"><b>Assign To</b></label>
                                        <select class="form-control input-sm" id="msANSTAss" required placeholder="Assignment" name="Assignment" style="border-radius: 0 !important;">

                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="msANSTAct"><b>Activity</b></label>
                                        <select class="form-control input-sm" id="msANSTAct" required placeholder="Activity" name="Activity" style="border-radius: 0 !important;">
                                            <option value="1">Backlog</option>
                                            <option value="2">Development</option>
                                            <option value="3">Testing</option>
                                            <option value="4">Deployment</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="txtANSTOH"><b>Original Hour</b></label>
                                        <input type="number" class="form-control input-sm" id="txtANSTOH" required placeholder="Orginal Hour" name="txtANSTOH" style="border-radius: 0 !important;" onkeypress="return isNumberKey(event)">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="txtANSTRH"><b>Remaining Hour</b></label>
                                        <input type="number" class="form-control input-sm" id="txtANSTRH" required placeholder="Remaining Hour" name="txtANSTRH" style="border-radius: 0 !important;" onkeypress="return isNumberKey(event)">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="txtANSTCH"><b>Completed Hour</b></label>
                                        <input type="number" class="form-control input-sm" id="txtANSTCH" required placeholder="Completed Hour" name="txtANSTCH" style="border-radius: 0 !important;" onkeypress="return isNumberKey(event)">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="msPrio"><b>Priority</b></label>
                                        <select class="form-control input-sm" id="msPrio" required placeholder="Priority" name="Priority" style="border-radius: 0 !important;">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="edtANSTDesc"><b>Decsription</b></label>
                                        <textarea id="edtANSTDesc">
                                            <br/>
                                            <br />
                                        </textarea>
                                    </div>

                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-primary" id="btnANSTSave">
                                    Save
                                    @*<i class="fas fa-save"></i>*@
                                </a>
                                <a href="#" class="btn btn-primary" id="btnANSTUpdate">
                                    Update
                                    @*<i class="fas fa-save"></i>*@
                                </a>
                            </div>
                            @*<div class="col-sm-6">
                                <a href="#" class="btn btn-danger btn-circle">
                                    Cancel
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script>
        function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                    return false;

                return true;
        }
        $(document).ready(function () {

            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

            var sprintId = "@ViewBag.Message";

            
            var ClearTaskForm = function () {

                $("#txtANSTTitle").val("");
                $("#msANSTType").val("");
                $(".gj-editor").find("div[role='body']").html("");
                $(".gj-editor").find("div[role='body']").append("<br/><br/>");
                $("#msANSTAss").val("");
                $("#txtANSTOH").val("");
                $("#txtANSTRH").val("");
                $("#txtANSTCH").val("");
                $("#msANSTStat").val("");
                $("#msPrio").val("");
                $("#msANSTAct").val("");
            };

            var GetSprintTaskList = function () {

                $.post("@Url.Action("GetSprintTask", "Project")", { SprintId: sprintId }, function (data) {
                    data = JSON.parse(data);
                    var BactaskCard = $('#taskBacSortable');
                    BactaskCard.empty();
                    var DevtaskCard = $('#taskDevSortable');
                    DevtaskCard.empty();
                    var TestaskCard = $('#taskTesSortable');
                    TestaskCard.empty();
                    var DeptaskCard = $('#taskDepSortable');
                    DeptaskCard.empty();
                $(data).each(function (index, task) {
                    if (task.Activity === 1)
                    {
                        BactaskCard.append(
                            '<li class="sortable-item task" id="' + task.Id + '">' +
                            (task.Type === 0 ? '<div class="card mb-4 py-3 border-left-success sprintTaskCard" data-id="' + task.Id + '">' : '<div class="card mb-4 py-3 border-left-danger sprintTaskCard"  data-id="' + task.Id + '">') +
                            //'<div class="card mb-4 py-3 border-left-primary sprintTaskCard" >' +
                            '<div class="card-body">' +
                            '<div class="row">'+
                            '<div clas="col-auto mr-2">' +
                            '<div class="text-xs mb-1">' + task.Title + '</div>' +
                            '</div > ' +
                            '</div>' +
                            //'<div class="row">' +
                            //'<div class="col-12">' +
                            //(task.Type === 0 ? '<i class="fas fa-clipboard-list fa-2x text-info text-sm text-right"></i>' : '<i class="fas fa-bug fa-2x text-danger text-sm text-right"></i>') +
                            //'</div>' +
                            //'</div>' +
                            '</div > ' +
                            '</div>' +
                            '</li>'
                        );
                    }
                    else if (task.Activity === 2) {
                        DevtaskCard.append(
                            '<li class="sortable-item task" id="' + task.Id + '">' +
                            (task.Type === 0 ? '<div class="card mb-4 py-3 border-left-success sprintTaskCard" data-id="' + task.Id + '">' : '<div class="card mb-4 py-3 border-left-danger sprintTaskCard"  data-id="' + task.Id + '">') +
                            //'<div class="card mb-4 py-3 border-left-primary sprintTaskCard" >' +
                            '<div class="card-body">' +
                            '<div class="row">' +
                            '<div clas="col-auto mr-2">' +
                            '<div class="text-xs mb-1">' + task.Title + '</div>' +
                            '</div > ' +
                            '</div>' +
                            //'<div class="row">' +
                            //'<div class="col-12">' +
                            //(task.Type === 0 ? '<i class="fas fa-clipboard-list fa-2x text-info text-sm text-right"></i>' : '<i class="fas fa-bug fa-2x text-danger text-sm text-right"></i>') +
                            //'</div>' +
                            //'</div>' +
                            '</div > ' +
                            '</div>' +
                            '</li>'
                        );
                    }
                    else if (task.Activity === 3) {
                        TestaskCard.append(
                            '<li class="sortable-item task" id="' + task.Id + '">' +
                            (task.Type === 0 ? '<div class="card mb-4 py-3 border-left-success sprintTaskCard" data-id="' + task.Id + '">' : '<div class="card mb-4 py-3 border-left-danger sprintTaskCard"  data-id="' + task.Id + '">') +
                            //'<div class="card mb-4 py-3 border-left-primary sprintTaskCard" >' +
                            '<div class="card-body">' +
                            '<div class="row">' +
                            '<div clas="col-auto mr-2">' +
                            '<div class="text-xs mb-1">' + task.Title + '</div>' +
                            '</div > ' +
                            '</div>' +
                            //'<div class="row">' +
                            //'<div class="col-12">' +
                            //(task.Type === 0 ? '<i class="fas fa-clipboard-list fa-2x text-info text-sm text-right"></i>' : '<i class="fas fa-bug fa-2x text-danger text-sm text-right"></i>') +
                            //'</div>' +
                            //'</div>' +
                            '</div > ' +
                            '</div>' +
                            '</li>'
                        );
                    }
                    else if (task.Activity === 4) {
                        DeptaskCard.append(
                            '<li class="sortable-item task" id="' + task.Id + '">' +
                            (task.Type === 0 ? '<div class="card mb-4 py-2 border-left-success sprintTaskCard" data-id="' + task.Id + '">' : '<div class="card mb-4 py-3 border-left-danger sprintTaskCard"  data-id="' + task.Id + '">') +
                            //'<div class="card mb-4 py-3 border-left-primary sprintTaskCard" >' +
                            '<div class="card-body">' +
                            '<div class="row">' +
                            '<div clas="col-auto mr-2">' +
                            '<div class="text-xs mb-1">' + task.Title + '</div>' +
                            '</div > ' +
                            '</div>' +
                            //'<div class="row">' +
                            //'<div class="col-12">' +
                            //(task.Type === 0 ? '<i class="fas fa-clipboard-list fa-2x text-info text-sm text-right"></i>' : '<i class="fas fa-bug fa-2x text-danger text-sm text-right"></i>') +
                            //'</div>' +
                            //'</div>' +
                            '</div > ' +
                            '</div>' +
                            '</li>'
                        );
                    }

                });
                });
            };

            GetSprintTaskList();

            $("#addNewSprintTask").on("click", function () {
                ClearTaskForm();
                $("#btnANSTSave").show().prop('disabled', false);
                $("#btnANSTUpdate").hide().prop('disabled', true);
                $("#antModalLabel").text("Add New Task");
                $('#addNewSprintTaskModal').modal('toggle');
            });

            $("#edtANSTDesc").editor({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });

            $.post("@Url.Action("GetSprintDeveloper", "Project")", { sprintId: sprintId },function (data) {
                var devList = $('#msANSTAss');
                devList.empty();
                data = JSON.parse(data);
                $(data).each(function (index, dev) {
                    devList.append(
                        '<option value="' + dev.EmpCode + '">' + dev.EmpName + '</option>'
                    );
                });
            });

            //$("#taskBacSortable, #taskDevSortable, #taskTesSortable, #taskDepSortable").sortable({
            //    connectWith: ".connectedSortable"
            //}).disableSelection();

            //.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')

            $("#btnANSTSave").on("click", function () {
                var title = $("#txtANSTTitle").val();
                var type = $("#msANSTType").val();
                var description = $("#edtANSTDesc").html();
                var assignTo = $("#msANSTAss").val();
                var oriHr = $("#txtANSTOH").val();
                var remHr = $("#txtANSTRH").val();
                var comHr = $("#txtANSTCH").val();
                var status = $("#msANSTStat").val();
                var priority = $("#msPrio").val();
                var activity = $("#msANSTAct").val();
                if (title == "") {
                    alert("Invalid Information");
                }
                else
                {
                    $.post("@Url.Action("CreateSprintTask", "Project")", { SprintId: sprintId, Title: title, Type: type, Description: description.toString(), AssignTo: assignTo, OriHr: oriHr, RemHr: remHr, ComHr: comHr, Status: status, Priority: priority, Activity: activity }, function (data) {
                        if (data) {
                            GetSprintTaskList();
                            ClearTaskForm();
                            $('#addNewSprintTaskModal').modal('toggle');

                        }
                    });

                }

            });

            $("#btnANSTUpdate").on("click", function () {
                taskId = $(this).attr("data-id");
                var title = $("#txtANSTTitle").val();
                var type = $("#msANSTType").val();
                var description = $("#edtANSTDesc").html();
                var assignTo = $("#msANSTAss").val();
                var oriHr = $("#txtANSTOH").val();
                var remHr = $("#txtANSTRH").val();
                var comHr = $("#txtANSTCH").val();
                var status = $("#msANSTStat").val();
                var priority = $("#msPrio").val();
                var activity = $("#msANSTAct").val();
                if (title == "") {
                    alert("Invalid Information");
                }
                else
                {
                    $.post("@Url.Action("UpdateSprintTask", "Project")", {Id:taskId, SprintId: sprintId, Title: title, Type: type, Description: description.toString(), AssignTo: assignTo, OriHr: oriHr, RemHr: remHr, ComHr: comHr, Status: status, Priority: priority, Activity: activity }, function (data) {
                        if (data) {
                            GetSprintTaskList();
                            ClearTaskForm();
                            $('#addNewSprintTaskModal').modal('toggle');

                        }
                    });

                }

            });

            $('#sprintTaskTileContainer .sortable-list').sortable({
                connectWith: '#sprintTaskTileContainer .sortable-list',
                placeholder: 'placeholder',
                receive: function (event, ui) {
                    var basketID = event.target.id;
                    var itemID = ui.item[0].id;
                    if (basketID == "taskBacSortable") {
                        $.post("@Url.Action("UpdateSprintTaskActivity", "Project")", { taskId: itemID, act: 1 }, function (data) {
                        });
                    } else if (basketID == "taskDevSortable") {
                        $.post("@Url.Action("UpdateSprintTaskActivity", "Project")", { taskId: itemID, act: 2 }, function (data) {
                        });
                    } else if (basketID == "taskTesSortable") {
                        $.post("@Url.Action("UpdateSprintTaskActivity", "Project")", { taskId: itemID, act: 3 }, function (data) {
                        });
                    } else if (basketID == "taskDepSortable") {
                        $.post("@Url.Action("UpdateSprintTaskActivity", "Project")", { taskId: itemID, act: 4 }, function (data) {
                        });
                    }
                }

            });

            $(document).on('click', '.sprintTaskCard', function () {
                ClearTaskForm();
                taskId = $(this).attr("data-id");
                $("#btnANSTSave").hide().prop('disabled', true);
                $("#btnANSTUpdate").show().prop('disabled', false);
                $("#btnANSTUpdate").attr('data-id', taskId);
                $("#antModalLabel").text("Update Task");
                
                $(".gj-editor").find("div[role='body']").html("");
                $.post("@Url.Action("GetTaskDetails", "Project")", { taskId: taskId }, function (data) {
                    var taskdetails = $.parseJSON(data);
                    $("#txtANSTTitle").val(taskdetails.Title);
                    $("#msANSTType").val(taskdetails.Type);
                    $(".gj-editor").find("div[role='body']").append(taskdetails.Description);
                    $("#msANSTAss").val(taskdetails.AssignTo);
                    $("#txtANSTOH").val(taskdetails.OriHr);
                    $("#txtANSTRH").val(taskdetails.RemHr);
                    $("#txtANSTCH").val(taskdetails.ComHr);
                    $("#msANSTStat").val(taskdetails.Status);
                    $("#msPrio").val(taskdetails.Priority);
                    $("#msANSTAct").val(taskdetails.Activity);
                    $('#addNewSprintTaskModal').modal('toggle');
                });
            });


        });
    </script>
}


